# This unit was created by ansible-digital-signage. Any modifications will be lost next time the playbook is run.
# More information can be found at https://github.com/sheepman4267/ansible-digital-signage

[Unit]
Description=Stop signage-chrome
After=graphical.target systemd-user-sessions.service signage-startx.service
Type=oneshot

[Service]
ExecStart=python3 /opt/ansible-digital-signage/find-url-from-schedule.py
