# This unit was created by ansible-digital-signage. Any modifications will be lost next time the playbook is run.
# More information can be found at https://github.com/sheepman4267/ansible-digital-signage

[Unit]
Description=Start Chrome in Kiosk mode for ansible-digital-signage
After=graphical.target systemd-user-sessions.service signage-startx.service

[Service]
User={{ signage_user }}
WorkingDirectory=~

PAMName=login

Environment=DISPLAY=:0

StandardOutput=journal
ExecStartPre=bash -c "/usr/bin/xrandr --output $(cat /var/ansible-digital-signage/display-output) --rotate {{ signage_orientation }} --auto"
ExecStart=bash -c "{{ signage_browser_command }} $(cat /var/ansible-digital-signage/current)"
ExecStartPost=bash -c "xdotool search --sync --onlyvisible {{ signage_browser_window_name }} windowmove 0 0 windowsize 100% 100%"
Restart=no