# This unit was created by ansible-digital-signage. Any modifications will be lost next time the playbook is run.
# More information can be found at https://github.com/sheepman4267/ansible-digital-signage

[Unit]
Description=Timer to check signage schedule and decide whether to restart chrome or turn off the display

[Timer]
OnBootSec=60s
{% for line in signage_schedule %}
OnCalendar={{ line.days }} *-*-* {{ line.end_time }}
OnCalendar={{ line.days }} *-*-* {{ line.start_time }}
{% endfor %}
Unit=signage-refresh.service

[Install]
WantedBy=timers.target