# This unit was created by ansible-digital-signage. Any modifications will be lost next time the playbook is run.
# More information can be found at https://github.com/sheepman4267/ansible-digital-signage

[Unit]
Description=X11 session for digital signage
After=graphical.target systemd-user-sessions.service

[Service]
User={{ signage_user }}
WorkingDirectory=~

PAMName=login
Environment=XDG_SESSION_TYPE=x11
TTYPath=/dev/tty8
StandardInput=tty
UnsetEnvironment=TERM

UtmpIdentifier=tty8
UtmpMode=user

StandardOutput=journal
ExecStartPre=/usr/bin/chvt 8
ExecStart={{ signage_startx_command }}
Restart=no

[Install]
WantedBy=graphical.target