# This unit was created by ansible-digital-signage. Any modifications will be lost next time the playbook is run.
# More information can be found at https://github.com/sheepman4267/ansible-digital-signage

[Unit]
Description=Turn off display for ansible-digital-signage
After=graphical.target systemd-user-sessions.service signage-startx.service
Type=forking

[Service]
User={{ signage_user }}
WorkingDirectory=~

PAMName=login

Environment=DISPLAY=:0

StandardOutput=journal
ExecStart=bash -c "/usr/bin/xrandr --output $(cat /var/ansible-digital-signage/display-output) --off"
Restart=no